@font-face {
    font-family: 'Roboto-Regular', sans-serif;
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?bmmyr6');
    src: url('../fonts/icomoon.eot?bmmyr6#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?bmmyr6') format('truetype'),
        url('../fonts/icomoon.woff?bmmyr6') format('woff'),
        url('../fonts/icomoon.svg?bmmyr6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-people_alt:before {
    content: "\e902";
  }
  .icon-mail-envelope-closed:before {
    content: "\e903";
  }
  .icon-heart-outlined:before {
    content: "\e901";
  }
  .icon-award-stroke:before {
    content: "\e904";
  }
  .icon-medal:before {
    content: "\e904";
  }
  .icon-magnifying-glass:before {
    content: "\e900";
  }
  .icon-pencil:before {
    content: "\e905";
  }
  .icon-cart:before {
    content: "\e93a";
  }
  .icon-coin-yen:before {
    content: "\e93e";
  }
  .icon-phone:before {
    content: "\e940";
  }
  .icon-location:before {
    content: "\e947";
  }
  .icon-compass:before {
    content: "\e949";
  }
  .icon-bubble2:before {
    content: "\e96e";
  }
  .icon-bubbles4:before {
    content: "\e970";
  }
  .icon-user:before {
    content: "\e971";
  }
  .icon-user-check:before {
    content: "\e975";
  }
  .icon-lock:before {
    content: "\e98f";
  }
  .icon-leaf:before {
    content: "\e9a4";
  }
  .icon-briefcase:before {
    content: "\e9ae";
  }
  .icon-target:before {
    content: "\e9b3";
  }
  .icon-shield:before {
    content: "\e9b4";
  }
  .icon-power:before {
    content: "\e9b5";
  }
  .icon-list:before {
    content: "\e9ba";
  }
  .icon-star-empty:before {
    content: "\e9d7";
  }
  .icon-star-full:before {
    content: "\e9d9";
  }
  .icon-cross:before {
    content: "\ea0f";
  }
  .icon-circle-right:before {
    content: "\ea42";
  }
  .icon-sort-amount-desc:before {
    content: "\ea4d";
  }
  .icon-ctrl:before {
    content: "\ea50";
  }
  .icon-font:before {
    content: "\ea5c";
  }
  .icon-share:before {
    content: "\ea7d";
  }
  .icon-mail2:before {
    content: "\ea84";
  }
  .icon-facebook2:before {
    content: "\ea91";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-ello:before {
    content: "\eab6";
  }
  .icon-windows:before {
    content: "\eac1";
  }
  .icon-linkedin2:before {
    content: "\eaca";
  }
  .icon-pinterest2:before {
    content: "\ead2";
  }
  .icon-sort-desc:before {
    content: "\e906";
  }
  .icon-sort-down:before {
    content: "\e906";
  }
  