@font-face {
    font-family: 'Roboto-Regular', sans-serif;
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ld56ir');
    src:  url('../fonts/icomoon.eot?ld56ir#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?ld56ir') format('truetype'),
      url('../fonts/icomoon.woff?ld56ir') format('woff'),
      url('../fonts/icomoon.svg?ld56ir#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak-as: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-cart:before {
    content: "\e93a";
  }
  .icon-phone:before {
    content: "\e942";
  }
  .icon-location2:before {
    content: "\e948";
  }
  .icon-compass:before {
    content: "\e949";
  }
  .icon-star-empty:before {
    content: "\e9d7";
  }
  .icon-circle-right:before {
    content: "\ea42";
  }
  