@import 'vars';
@import 'global';
@import 'fonts';

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header__text {
    margin-left: auto;
    margin-right: 50px;

    span {
        color: $red;
    }
}

.header__btn {
    padding: 9px;
    min-width: 72px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
}

.header__btn-login {
    background-color: $red;
}

.header__btn-regisfer {
    background-color: $green;
    margin-left: 7px;
}

.header__menu {
    background-color: $bg;

}

.menu {
    display: flex;
    align-items: center;
    height: 60px;
}

.menu__list {
    li {
        display: inline-block;

        &+li {
            margin-left: 30px;
        }
    }

    a {
        color: #fff;
        font-size: 14px;
    }
}

// start-search
.search {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 533px;

    .search__inner {
        padding: 135px 0 100px;
        color: #fff;
        text-align: center;

        &-title {
            font-size: 48px;
            line-height: 72px;
            margin-bottom: 18px;
            @include f700;
        }

        &-text {
            margin-bottom: 50px;
            font-size: 20px;
            line-height: 30px;
            @include f500;
        }

        &-form {
            max-width: 670px;
            margin: 0 auto;
            position: relative;

            input {
                width: 100%;
                display: block;
                box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
                border-radius: 4px;
                height: 56px;
                border: none;
                font-size: 14px;
                @include f500;
                padding-left: 25px;
                padding-right: 60px;
                outline: none;

                &:focus {
                    border: 1px solid $solor-text;
                }

                &::plaseholder {
                    color: #b2bfc6;
                }
            }

            button {
                outline: none;
                position: absolute;
                border: none;
                background-color: transparent;
                top: 16px;
                right: 20px;
                cursor: pointer;
            }
        }
    }
}

// fin-search
//start-products
.products {
    padding: 110px 0;
    background-color: $grey;
}

.products__inner-btn {
    .mixitup-control-active {
        background-color: $red;
        color: #fff;
    }

    text-align: center;
    margin-bottom: 60px;

    button {
        border: none;
        cursor: pointer;
        background-color: #fff;
        @include f500;
        font-size: 14px;
        padding: 12px 20px;
        color: $bg;
    }

    &+button {
        margin-left: 5px;
    }
}

.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.products__item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;

    &-img {
        min-height: 250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
    }

    &-content {
        @include f500;
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        min-height: 90px;
        align-items: center;
        border-bottom: 1px solid #a2b5ab;

        &-name {
            max-width: 310px;
        }
    }

    &-title {
        color: $bg;
        font-size: 18px;
        display: block;
        line-height: 25px;
    }

    &-cotegory {
        display: block;
        color: $green;
    }

    &-price {
        @include f700;
        font-size: 20px;
        color: $bg;
    }

    &-info {
        @include f500;
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
    }

    &-author {
        display: flex;
        align-items: center;
        max-width: 245px;

        .avatar {
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            display: inline-block;
            background-color: #b2bfc6;
            margin-right: 14px;
        }

        span {
            font-size: 14px;
            color: $solor-text;
        }
    }

    &-star {
        font-size: 12px;

        span {
            color: $bg;
            @include f500;
        }
    }
}

.products__bottom-btn {
    text-align: center;

    button {
        margin: 45px 5px 0;
        background-color: #fff;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        padding: 20px 30px;
        cursor: pointer;
        color: $bg;
    }

    .mixitup-control-active {
        background-color: $red;
        color: #fff;
    }
}

@media(max-width: 1400px) {
    .products__inner-box {
        display: flex;
        justify-content: center;
    }

    .products__item+.products__item {
        margin-left: 20px;
    }

    .products__item {
        max-width: 300px;
        width: 100%;

        &-img {
            min-height: 180px;
        }
    }
}

// fin-products
// start-product-slider
.product-slider {
    padding: 110px 0 120px;

    &-title {
        margin-bottom: 50px;
    }

    &-inner {
        margin: 0 auto;
    }
}

.slick-dots {
    margin-top: 50px;
    text-align: center;

    li {
        margin-left: 3px;
        margin-right: 3px;
        display: inline-block;

        &.slick-active {
            button {
                background-color: $green;
            }
        }

        button {
            box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
            font-size: 0;
            background-color: #a2b5ab;
            border: none;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            cursor: pointer;
        }
    }
}

// fin-product-slider
// start-advantages

.advantages {
    background-color: $bg;
    padding: 110px 0;
}

.advantages__title {
    color: #fff;
    margin-bottom: 50px;
}

.advantages__inner {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    max-width: 370px;
    text-align: center;
    padding: 0 15px;

    &:hover {
        .advantages__item-img {
            background-color: $green;
        }

        .advantages__item-title {
            color: $green;
        }
    }

    &-img {
        border-radius: 50%;
        background-color: #fff;
        width: 114px;
        height: 114px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all .5s;
    }

    &-title {
        color: #fff;
        @include f500;
        margin-bottom: 25px;
        font-size: 24px;
        transition: all .5s;
    }

    &-text {
        font-size: 15px;
    }
}

// fin-advantages
// start-author
.author {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;

    &__box {
        max-width: 650px;
        width: 100%;
        min-height: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
    }

    &__title {
        font-size: 30px;
        line-height: 36px;
        color: #fff;
        margin-right: 45px;
        max-width: 262px;

        span {
            @include f700;
        }
    }

    &__link {
        font-size: 18px;
        line-height: 36px;
        background-color: #fff;
        padding: 14px 40px;
    }
}

// fin-author
// start-tutorial
.tutorial {
    background-color: #e4f0e9;
    padding: 60px 0 120px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 370px;
        width: 100%;
    }
}

.tutorial__item {
    &-img {
        min-height: 270px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-title {
        text-align: center;
        font-size: 24px;
        @include f700;
        color: $bg;
        padding: 30px 10px;
    }
}

// fin-tutorial
// start-footer
.footer {
    background-color: $bg;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 100px 0 80px;
    }
}

.footer__col {
    max-width: 270px;
    width: 100%;
    &-menu {
        max-width: 220px;
    }

    &-title {
        font-size: 22px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #fff;
        padding-bottom: 22px;
        margin-bottom: 30px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 50px;
            height: 3px;
            background-color: $green;
            bottom: 0;
            left: 0;
        }
    }

    &-text {
        color: #b2bfc6;
        margin-bottom: 30px;
    }

    &-list {
        a {
            color: #b2bfc6;
            margin-bottom: 15px;
            padding-left: 30px;
            position: relative;

            &::before {
                content: "\ea42";
                color: $green;
                font-size: 18px;
                position: absolute;
                left: 0;
                font-family: "icomoon";
            }
        }
    }
}

.footer__info {
    margin-top: 18px;
    color: #b2bfc6;
    @include f500;
    padding-left: 30px;
    position: relative;

    &::before {
        content: "\e942";
        font-family: "icomoon";
        position: absolute;
        left: 0;
        font-size: 18px;
        color: $green;
    }

    &-adres {
        &::before {
            content: "\e948";
        }
    }
}

.footer__cocial-link {
    margin-bottom: 33px;

    li {
        display: inline-block;

        &+li {
            margin-left: 7px;
        }
    }

    a {
        width: 28px;
        height: 28px;
        background-image: url(../images/css_sprites.png);

        &+a {
            margin-left: 7px;

        }
    }
}


.link-facebook {
    background: url('css_sprites.png') -0 -0;
}

.link-twit {
    background: url('css_sprites.png') -28px -0;
}

.link-yout {
    background: url('css_sprites.png') -56px -0;
}

.link-link {
    background: url('css_sprites.png') -0 -28px;
}

.link-in {
    background: url('css_sprites.png') -28px -28px;
}

.footer__form-title {
    margin-bottom: 18px;
    color: #ffffff;
    font-size: 22px;
}

.footer__form {
    position: relative;
    input {
        border: none;
        padding: 0 50px 0 15px;
        background-color: $solor-text;
        display: block;
        width: 100%;
        height: 40px;
        color: #ffffff;
        font-size: 14px;
        &::placeholder{
           color: #ffffff; 
        }
    }
    button{
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: $green;
        border: none;
        width: 43px;
        height: 40px;
        cursor: pointer;
        &::before{
            content: "\e949";
            position: absolute;
            font-family: 'icomoon';
            font-size: 20px;
            color: #fff;
            top: 10px;
            left: 10px;
        }
    }
}

.footer__copy {
    border-top: 1px solid $solor-text;
}

.footer__copy-text {
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    padding: 22px 0 22px;

}

// fin-footer